:root {
  font-family: fredoka, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
  font-size: 1.4rem; 
  /* color: rgba(251, 238, 238, 0.87); */
  background-color: #efbeee91;
 --red:#da0444;
 --cyan:#9eefd3;
}
* {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}











